@model Crud
@using CRUDelicious.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Add page</title>
</head>
<body>
    <h1 style="text-align: center">Add a new Dish!!</h1>
    <a href="/">Home</a>
<hr>

<form asp-action="CreateDish" asp-controller="Crud" method="post">
    <div class="form-group">
        <span style="color:red" asp-validation-for="Chef"></span><br>
        Chef's Name: <input type="text" asp-for="Chef" >
    </div>
    <div class="form-group">
        <span style="color:red" asp-validation-for="Name"></span><br>
        Name of Dish: <input type="text" asp-for="Name">
    </div>
    <div class="form-group">
        <span style="color:red" asp-validation-for="Calories"></span><br>
        # of Caoloies: <input type="number" asp-for="Calories">
    </div>
    <div class="form-group">
        <span style="color:red" asp-validation-for="Tastiness"></span><br>
        Tastiness:  <select asp-for="Tastiness">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
    </div>
    <div class="form-group">
        <span style="color:red" asp-validation-for="Description"></span><br>
        Description:<textarea asp-for="Description" rows="3"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>